@{
    Layout = null;
}

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

</head>
<body>
    <form method="post" action="@Url.Action("Validate","Security")">
        <div id="form-login">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" name="correo" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Password</label>
                <input type="password" name="clave" class="form-control" placeplaceholder="Password" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </form>
</body>

</html>


<style>
    #form-login {
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top: 10%;
    }
</style>